.custom-carousel > div {
    border-radius: 5px !important;
}

.custom-carousel > :nth-child(2) {
    bottom: 6px;
  }

  .custom-carousel > :nth-child(2)> button {
    width: 8px;
    height: 8px;
  }

  .custom-carousel > :nth-child(2)> button.bg-white {
    background-color: #7048EC;
  }
  .custom-carousel > :nth-child(2)> button:not(.bg-white) {
    background-color: #D1D1D1;
  }

  .custom-carousel > div >div{
    margin-top: -25px;
  }
.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
  
.carousel-controls .carousel-buttons {
    display: flex;
    gap: 10px; /* Adjust for spacing between buttons */
}
  
.carousel-controls .carousel-indicators {
    flex: 1;
    display: flex;
    justify-content: center;
}
  